# Exclude unnecessary files and directories
**/.git
**/.gitignore
**/.env
**/*.md
**/test/
**/k8s/
**/Dockerfile
**/.dockerignore
**/deployment/
**/tmp/
**/vendor/

# Include only necessary source code
!queue-service/
!common/

# Exclude unnecessary files from included directories
queue-service/**/*.md
queue-service/**/test/
queue-service/**/k8s/
queue-service/**/Dockerfile
queue-service/**/.dockerignore
queue-service/**/deployment/
queue-service/**/tmp/
queue-service/**/vendor/

common/**/*.md
common/**/test/
common/**/k8s/
common/**/Dockerfile
common/**/.dockerignore
common/**/deployment/
common/**/tmp/
common/**/vendor/ 